<h1>Welcome to Musician's Song Tracker</h1>
<h3>Login</h3>
<div id="login_container">
<form action="/login" method="post">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" name="submit" value="Login" />
</form>
</div>

<p>New user?</p>
<form action="/signup" method="get">
    <input type="submit" name="submit" value="Create an Account" />
</form>
