
<h1>Sign Up</h1>
<div id="signup_container">
<form action="/signup" method="post">
<input type="text" name="username" placeholder="Username" autofocus><br>
<input type="text" name="email"  placeholder="Email"><br>
<input type="text" name="password" placeholder="Password"><br>
<input type="submit" name="signup" value="Signup">
</form>
</div>
