<h1>Create New Song</h1>
<div id="song_new_container">
<form action="/songs" method="post">
<input type="text" name="name" placeholder="Name" autofocus><br>
<input type="text" name="video"  placeholder="Video URL"><br>
<input type="text" name="tabs" placeholder="Tabs URL"><br>
<input type="text" name="lyrics" placeholder="Lyrics URL"><br>
<label for="learned_checkbox">Learned: </label><input type="checkbox" name="learned"><br>
<input type="submit" name="new_song" value="Submit">
</form>
</div>
